# ----------------------------
# Python
# ----------------------------

__pycache__/
*.py[cod]
*.so

# ----------------------------
# Virtual Environments
# ----------------------------

.venv/
venv/
env/

# ----------------------------
# Conda
# ----------------------------

.env

# ----------------------------
# VS Code
# ----------------------------

.vscode/

# ----------------------------
# macOS
# ----------------------------

.DS_Store

# ----------------------------
# TensorBoard
# ----------------------------

runs/

# ----------------------------
# Logs
# ----------------------------

*.log

# ----------------------------
# Build
# ----------------------------

build/
dist/
*.egg-info/

# ----------------------------
# Dataset
# ----------------------------

data/

# ----------------------------
# Outputs
# ----------------------------

checkpoints/
samples/
experiments/

# ----------------------------
# Jupyter
# ----------------------------

.ipynb_checkpoints/

# ----------------------------
# Pytest
# ----------------------------

.pytest_cache/
.mypy_cache/